@font-face {
  font-family: "Draper";
  src: url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.eot");
  src: url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/1df7ec39ce3f151f8c44c65de49bf40c.svg#Draper")format("svg");
}
* {
  font-family: "Draper";
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  color: white;
  transition: 0.5s;
  scroll-behavior: smooth;
  cursor: auto;

}


.Home {
  background-image: url(../img/bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.header {
  background-color: rgba(0, 0, 0, 0.007);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 10px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}
.container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 30px;
}

nav {
  display: flex;
  gap: 70px;
}
.op{
  font-size: 20px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.op:hover{
  border-bottom: 0.5px solid white;
  /* f9dc5c71 */
}
.mainHome {
  width: 100%;
  height: 800px;
  display: flex;
}
.containerMainHome {
  margin-left: 7vw;
  margin-top: 20vh;

}
.containerMainHome > h1 {
  font-size: 4.5rem;
  font-weight: 100;
  cursor: pointer;

}
.containerMainHome > h3 {
  margin-top: 2vh;
  margin-bottom: 20px;
  color: #c7c7c7; 
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;

}
.button_Conehcer{
  font-size: 20px;
  color: #ffffff;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.button_Conehcer:hover{
  border-bottom: 0.5px solid rgb(255, 255, 255);


}

.Sobre {
  background-image: url("../img/Bk.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
  width: auto;
}
.mainSobre {
  height: 800px;
  display: flex;
  align-items: center;
  margin-left: 7vw;
}
.containerMainSobre > h1 {
  font-size: 62px;
  font-weight: 100;
}
.containerMainSobre > h3 {
  margin-top: 2vh;
  color: #c7c7c7;
  font-size: 25px;
  font-weight: 300;
}

.Planos {
  background-color: black;
  height: 110vh;
  width: auto;
}
.mainPlanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}
.TodosPlanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.containerMainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.containerMainText > h1 {
  font-size: 48px;
}
.containerMainText > h3 {
  font-size: 22px;
}
.containerMainPlanos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.containerMainPlanos:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(90%);
}

.Vanguarda {
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #262525b6;
  width: 320px;
  height: 450px;
  transition: 0.35s;
  cursor: pointer;
}
.Vanguarda:hover {
  border: 0.5px solid #f9dc5c71;
}
.VanguardaItems {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.textVanguard > h2 {
  font-size: 30px;
}
.textVanguard > p {
  font-size: 14px;
  color: #c7c7c7;
}
.subDescricao {
  font-size: 14px;
}
.stokepreco {
  text-decoration: line-through;
  font-size: 18px;
}
.precoVanguarda > h2 {
  font-size: 28px;
}
.precoVanguarda > p {
  color: #c7c7c7;
}
.Descricao > h3 {
  font-weight: 100;
}
.botaoVanguarda {
  background-color: #262525b6;
  margin-top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 249px;
  height: 52px;
  transition: transform 0.1s ease-in;
}
.botaoVanguarda:hover {
  cursor: pointer;
  color: #ffffff;
  border: 0.5px solid #f9dc5cbb;
}
.botaoVanguarda:active {
  transform: scale(98%);
}
@keyframes grow {
  0% {
    transform: scale(100%);
  }
  75% {
    transform: scale(101%);
  }
  100% {
    transform: scale(100%);
  }
}
.footerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #1e1e1e;
  height: 14vh;
  width: auto;
}
.footerMain > span {
  color: white;
  margin-bottom: 20px;
}
.Git {
  color: black;
  width: 50px;
  opacity: 80%;
}
